* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: monospace;
    margin: 0.5rem;
}

nav {
    border: 2px solid black;
    margin: 0% auto 0.5rem;
    border-radius: 2rem;
    max-width: 600px;
    font-size: 3rem;
    line-height: 7rem;
}

ul {
    list-style-type: none;
}
h2 {
    background-color: gold;
    border-radius: 2rem 2rem 0 0;
}

li {
    border-top: 1px solid black;
}
li a {
    display: block;
    text-decoration: none;
    color: #444;
}

li a:hover,
li a:focus {
    background-color: #444;
    color: aliceblue;
}

li:last-child a {
    border-radius: 0 0 2rem 2rem;
}
